USE [master]
GO
/****** Object:  Database [RoboGender]    Script Date: 2022-02-14 13:15:33 ******/
CREATE DATABASE [RoboGender]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoboGender', FILENAME = N'C:\RoboGender.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RoboGender_log', FILENAME = N'C:\RoboGender_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoboGender].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoboGender]
GO
/****** Object:  Table [dbo].[weather]    Script Date: 2022-02-14 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weather](
	[Datum] [datetime2](7) NOT NULL,
	[Plats] [varchar](5) NOT NULL,
	[Temp] [float] NULL,
	[Luftfuktighet] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Datum] ASC,
	[Plats] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
